<h1>Data from sources:</h1>

<h2>SerpAPI:</h2>
<ul>
    <% if (serpapi_results && serpapi_results.organic_results) { %>
        <% serpapi_results.organic_results.forEach(result=> { %>
            <li>
                <h2><a href="<%= result.link %>">
                        <%= result.title %>
                    </a></h2>
                <p>
                    <%= result.snippet %>
                </p>
            </li>
            <% }); %>
                <% } else { %>
                    <li>No results found.</li>
                    <% } %>
</ul>

<h2>DBLP:</h2>
<ul>
    <% if (dblp_results && dblp_results.length) { %>
        <% dblp_results.forEach(result => { %>
            <li>
                <h2><a href="<%= result.info.url %>">
                        <%= result.info.title %>
                    </a></h2>
                <p>
                    <%= Array.isArray(result.info.authors?.author)
                        ? result.info.authors.author.map(a => a.text).join(', ')
                        : result.info.authors?.author?.text || 'Unknown authors' %>
                </p>
                <p>Year: <%= result.info.year || 'N/A' %></p>
            </li>
        <% }); %>
    <% } else { %>
        <li>No results found.</li>
    <% } %>
</ul>

<h2>arXiv:</h2>
<ul>
    <% if (arXiv_results.length) { %>
        <% arXiv_results.forEach(result => { %>
            <li>
                <h2><a href="<%= result.id[0] %>">
                    <%= result.title[0] %>
                </a></h2>
                <p><%= result.summary[0] %></p>
                <p>Authors: <%= result.author ? result.author.map(a => a.name[0]).join(', ') : 'Unknown authors' %></p>
                <p>Published: <%= result.published[0] %></p>
            </li>
        <% }); %>
    <% } else { %>
        <li>No results found.</li>
    <% } %>
</ul>
