<h1>Arxiv Search Results</h1>

<ul>
    <% if (results.length) { %>
        <% results.forEach(result => { %>
            <li>
                <h2><a href="<%= result.id[0] %>">
                    <%= result.title[0] %>
                </a></h2>
                <p><%= result.summary[0] %></p>
                <p>Authors: <%= result.author ? result.author.map(a => a.name[0]).join(', ') : 'Unknown authors' %></p>
                <p>Published: <%= result.published[0] %></p>
            </li>
        <% }); %>
    <% } else { %>
        <li>No results found.</li>
    <% } %>
</ul>
